*.txt
CMakeLists.txt
!test/CMakeLists.txt
*.json
*.cmake
*Makefile
*.Rhistory
*.tar.gz
*.RData
*.o
*.so
test/fdapde_test
test/.cache
test/build/
build/
CMakeFiles/
.DS_Store
.bash_history
.idea/

#clion files
cmake-build-debug-docker/
cmake-build-default/
cmake-build-debug/

.vscode

#plots
*.pdf
*.png

#help files
*.csv

#docs files
*.puml

#R files
.Rproj.user
*.Rproj
*.html

#files in the experiments directory
experiments/**/*.txt
experiments/**/*.csv
experiments/**/*.mtx

#python interface
python_interface/results
python_interface/plots
python_interface/*.ipynb
python_interface/*.Rmd
!python_interface/RSVD_playground.ipynb
