*.txt
!CMakeLists.txt
*.json
*.cmake
*Makefile
*.Rhistory
*.tar.gz
*.RData
*.o
*.so
test/fdapde_test
test/.cache
test/build/
build/
CMakeFiles/
.DS_Store
.bash_history
.idea/
cmake-build-debug-docker/
cmake-build-default/
cmake-build-debug/
experiments/test_RSVD/performances.csv
.vscode

#plots
*.pdf
*.png

#docs files
*.puml

#R files
.Rproj.user
*.Rproj
*.html

#files in the experiments directory
experiments/**/*.csv
experiments/**/*.mtx

